# ULTIMATE MUSIC DATABASE web scraping

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Set headers
headers = requests.utils.default_headers()
headers.update({ 'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0'})

In [2]:
def weekly_hits (date):
    
    url = 'http://umdmusic.com/default.asp?Lang=English&Chart=D&ChDate=' + str(date) + '&ChMode=N'
    req = requests.get(url, headers)
    soup = BeautifulSoup(req.content, 'html.parser')

    my_table = soup.find_all("table", attrs={'border': '1', 'width': '100%', 'bgcolor': '#CCFFFF'})

    title = []
    artist = []

    rows = my_table[2].find_all('tr')
    for row in rows:
        cells = row.find_all('td', attrs={'style': 'font-size:10pt;font-family:Arial;padding-left:0.1in'})
        for cell in cells:
            title.append(cell.contents[0].get_text().strip())
            artist.append(cell.contents[2].strip())
    
    year = [str(date)[0:4]] * len(title)
    
    df = pd.DataFrame([year, artist, title]).transpose()
    df.columns = ['year', 'artist', 'title']

    return df

In [3]:
weekly_hits(19900113)

    year                 artist                                  title
0   1990         MICHAEL BOLTON  How Am I Supposed To Live Without You
1   1990           TECHNOTRONIC                        Pump Up The Jam
2   1990           PHIL COLLINS                Another Day In Paradise
3   1990            JODY WATLEY                             Everything
4   1990            ROD STEWART                         Downtown Train
..   ...                    ...                                    ...
95  1990        CHRISTOPHER MAX                     Serious Kinda Girl
96  1990                   CURE                                Lullaby
97  1990                ROXETTE                   Listen To Your Heart
98  1990         GLORIA ESTEFAN                       Get On Your Feet
99  1990  NEW KIDS ON THE BLOCK              Didn't I (Blow Your Mind)

[100 rows x 3 columns]